/* Author: @josipfilipovic, Project: Backbase App, February 2013, Zagreb */
/* ==========================================================================
  	HTML5 BP RESET
   ========================================================================== */
html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;
}

/* ==========================================================================
   BB APP STYLES
   ========================================================================== */

body {background:#fdf4e8; color:#333; font: 14px/20px Georgia, "Times New Roman", Times, serif;}
a {text-decoration:none;color:#333;}
a:hover {color:#000;}

ul {padding:0; margin:0;}

section {margin:100px auto; width:640px; overflow:hidden; min-height:595px; box-shadow:0 0 4px 1px #bbb,0 0 8px 0px #ccc inset; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; background:#fff url(../img/loader.gif) center center no-repeat; border:1px solid #fff;}
section.loaded {background:#fff;}

h1, h2 {font-family:Arial, Helvetica, sans-serif;}
h1 {margin:20px 0 15px; text-align:center; font-size:22px; line-height:28px;}
h2 {font-size:18px; font-weight:normal;}

#newslist {list-style:none; display:block;}
#newslist>li {display:block;  }
#newslist>li a {display:block; color:#555; overflow:hidden; position:relative;padding:20px;border-bottom:1px solid #eee; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#newslist>li a:hover {background:#fceedc;border-bottom:1px solid #f2b766; color:#000; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
#newslist>li a.active {background:#f8d3a3;border-bottom:1px solid #ee9d31; color:#000;}
#newslist>li a:hover img,#newslist>li a.active img {border:5px solid #e2b170;-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(74%, transparent), to(rgba(255, 255, 255, 0.2)));}
#newslist>li a:hover .arrow,#newslist>li a.active .arrow {display:block;}
#newslist>li a.active .arrow {background-position:center 9px;}
#newslist>li a.active:hover .arrow {opacity:1;}

#newslist>li a img {border:2px solid #444; margin:0 20px 0 0; float:left; display:block; border:5px solid #eee; padding:1px;}

article {overflow:hidden; display:none; clear:both; padding-top:10px; font-style:italic; }

span.arrow {display:none; position:absolute;top:20px; opacity:0.6; background:#fff url(../img/arrows.png) center -20px no-repeat; right:20px; width:30px; height:30px; border:2px solid #e2b170; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px;}

div.txt {margin:0 0 0 150px; overflow:hidden;}
div.txt .date {color:#999; font-size:12px; text-transform:uppercase; display:block; font-family:Arial, Helvetica, sans-serif; margin:0 0 5px 0;}
div.txt h2 {text-transform:uppercase; margin: 0 0 2px;}
div.txt p {margin:0; font-style:italic;}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}
@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}